<script lang="ts">
	import { count } from '$lib/stores/count';
	import { getYear } from './utils';

	export let name: string = null;

	function increment() {
		count.update((n) => n + 1);
	}
	function decrement() {
		count.update((n) => n - 1);
	}
	function reset() {
		count.set(0);
	}
</script>

Hi {!name ? 'there' : name}
<p>
	Count:{$count}
</p>
<div>
	© {getYear()}
</div>
<button on:click={increment}> Increment</button>
<button on:click={decrement}> decrement</button>
<button on:click={reset}> reset </button>
